.landing-page-container {
  width: 75vw;
  height: 100vh;
  background-color: aliceblue;
  margin: auto;
  padding-top: 6rem;
  min-width: 720px;
  /* background-color: rgb(15 23 42/var(--tw-bg-opacity)); */
}

.columns {
  display: flex;
  flex-direction: row;
  column-gap: 2vw;
  justify-content: center;
}

.lp-column {
  width: 500px;
  background-color: bisque;
}

@media (max-width:1100px) {
  .columns {
    flex-direction: column;
  }

  .lp-column {
    margin: auto;
  }
}