.landing-page-container {
  width: 65vw;
  height: 100vh;
  /* background-color: aliceblue; */
  margin: auto;
  padding-top: 6rem;
  min-width: 720px;
  /* background-color: rgb(15 23 42/var(--tw-bg-opacity)); */
}

.columns {
  /* display: flex; */
  flex-direction: row;
  column-gap: 2vw;
  justify-content: center;
}

.lp-column {
  /* width: 500px; */
  /* background-color: whitesmoke; */
}

#jan-bock {
  font-family: 'Inter';
  letter-spacing: -2px;
  font-size: 45px;
  margin-top: 0px;
  z-index: 0;
}

#description {
  font-family: 'Inter';
  font-weight: 600;
  letter-spacing: -0.8px;
  font-size: 20px;
  margin-top: -20px;
}

.slogan-style {
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: -0.2px;
  font-size: 16px;
  margin-top: -5px;
  line-height: 25px;
}

#bio-container {
  position: fixed;
  width: max-content;
}

.secondary-column {
  padding-left: 50%;
}

.bio {
  width: 30vw;
  z-index: 1;
}

@media (max-width:950px) {
  .columns {
    display: flex;
    flex-direction: column;
  }

  #bio-container {
    position: relative;
  }

  .lp-column {
    margin: 0;
    margin-top: 10px;
  }

  .lp-column.bio.slogan-style {
    width: 90vw;
    margin: 0;
  }

  .secondary-column {
    padding: 0%;
  }

  .landing-page-container {
    width: 90vw;
    padding-top: 4rem;
  }

}